.active {
  background-color: #5845dd !important;
}

.stage-item-status {
  height: 16px;
  width: 16px;
  border-radius: 2px;
  margin-right: 12px;
  background-color: #c9c5e8;
}

.stage-container {
  display: flex;
  flex-direction: column;
}

.stage-item {
  display: flex;
  margin-bottom: 20px;
}